APP_NAME=postural-check-api
APP_ENV=development
APP_PORT=8000
DATABASE_URL=postgresql://<user>:<password>@localhost:5432/postural_check
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=postural-check
